{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: start">Contrattis list</h1>

    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Contratto typo</th>

            <th scope="col">Contratti numero</th>
            <th scope="col">Contratti name</th>
            <th scope="col">Typo Pagamento</th>
            <th scope="col">Dateentered</th>
            <th scope="col">user_name</th>
            <th scope="col">data spedizione</th>
            <th scope="col">User consegna</th>
            <th scope="col">Contratti deleted</th>
            <th scope="col">TipoFattura</th>
            <th scope="col">NumeroFattura</th>
            <th scope="col">DataFattura</th>
            <th scope="col">DataScadenzaPagamento</th>
            <th scope="col">TipoPagamento</th>
            <th scope="col">SezionalefatturaC</th>
            <th scope="col">TipoCopertura</th>

{#            <th scope="col">Deleted</th>#}
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for contratti in contrattis %}
            <tr>


                    <th scope="row">

                        {% for account in accounts %}
                            {% if contratti.getAccountContratti() == account.id %}
                                    <a href="{{ path('contratti_show', { 'id': contratti.id }) }}">{{ account.name ? account.name : contratti.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </th>
                    <td>
                        {% for account in accounts %}
                            {% if contratti.getAccountContratti() == account.id %}
                                {{ account.getAccountCstm().getAccounttypeC() }}
                            {% endif %}
                        {% endfor %}
                    </td>


                <td>{{ contratti.contrattiCstm.numerocontrattoccC|default('Is NULL in DB') }}</td>
                <td>{{ contratti.name }}</td>
                <td>{{ contratti.contrattiCstm.getTipopagamentoC()|default('ALTRO')  }}
                <td>{% if contratti.dateEntered %}{{ contratti.dateEntered|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    {{ contratti.getUsers().getUserName() }}
                </td>

                <td>{% if contratti.dateEntered %}{{ contratti.contrattiCstm.getDataspedizioneC()|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                                {% for user in users %}

                                {% if contratti.contrattiCstm.users is not null and contratti.contrattiCstm.users == user.id %}

                                {{ contratti.contrattiCstm.users}}

                                    {% endif %}
                                {% endfor %}
                </td>


                <td>{% if contratti.deleted %}Yes{% else %}No{% endif %}</td>


                <td>
                    {% for cf in contratti.fattureTestata %}
                    {{ cf.codicetipofattura }};

                    {% endfor %}

                </td>

                <td>
                    {% for cf in contratti.fattureTestata %}
                    {{ cf.numerofattura }};

                    {% endfor %}

                </td>

                <td>
                    {% for cf in contratti.fattureTestata %}
                    {{ cf.datafattura| date('Y-m-d') }};

                    {% endfor %}

                </td>

                <td>
                    {% for cf in contratti.fattureTestata %}
                    {{ cf.DataScadenzaPagamento| date('Y-m-d') }};

                    {% endfor %}

                </td>


                <td>
                    {% for cf in contratti.fattureTestata %}
                    {{ cf.idtipopagamento }};

                    {% endfor %}

                </td>

                <td>
{#                    {{ dump(contratti.contrattiDettaglios) }}#}
                    {% for cd in contratti.contrattiDettaglios %}
                        {% if cd.listiniDettaglio.sezionalefatturaC == '09' %}
                    09;
                        {% endif %}

                    {% endfor %}

                </td>

                <td>

                    {% for cd in contratti.contrattiDettaglios %}
                        {% if cd.offerteWebD %}
                            {{ cd.offerteWebD.tipocopertura}};
                        {% endif %}
                    {% endfor %}

                </td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contratti_show', { 'id': contratti.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contratti_edit', { 'id': contratti.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contratti_new') }}">Create a new contratti</a>
        </li>
    </ul>
{% endblock %}
