{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contratti</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contratti.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contratti.name }}</td>
            </tr>
            <tr>
                <th>Dateentered</th>
                <td>{% if contratti.dateEntered %}{{ contratti.dateEntered|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if contratti.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contratti_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contratti_edit', { 'id': contratti.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
